* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(75, 75, 75) 0%, rgb(52, 52, 52) 100%);
    background-size: 100% 485%;
}

header {
    height: 60px;
    background-color: dimgray;
    borderbo
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 25px;

    height: calc(100vh - 60px);
}

#grid-canvas {
    height: 800px;
    width: 1200px;

    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);

    box-shadow: 0 0 4px 0 black;
}

#network-canvas {
    height: 80vh;
    width: 15vw;
}